name: Test package

on:
  pull_request:
  push:
    branches: [main]

jobs:
  test-code:
    name: Test on ${{ matrix.container }}
    runs-on: ubuntu-24.04
    container: ${{ matrix.container }}
    env:
      DEB_PYTHON_INSTALL_LAYOUT: deb_system

    strategy:
      fail-fast: false
      matrix:
        container: [
          "ghcr.io/fenics/dolfinx/dolfinx:stable",
          "ghcr.io/fenics/dolfinx/dolfinx:nightly"
        ]

    steps:
      - uses: actions/checkout@v5

      - name: multivector testing
        run: |
          cd ./tests &&
          mpirun -n 2 python3 test_multivector.py

      - name: eigendecomposition testing
        run: |
          cd ./tests &&
          mpirun -n 2 python3 test_eigendecomposition.py

      - name: low rank Hessian testing
        run: |
          cd ./tests &&
          mpirun -n 2 python3 test_lowRankHessian.py

      - name: low rank Hessian preconditioner testing
        run: |
          cd ./tests &&
          mpirun -n 2 python3 test_lowRankHessian_preconditioner.py

      - name: sample testing
        run: |
          cd ./tests &&
          mpirun -n 2 python3 test_sampling.py

      - name: run serial check
        run: |
          cd ./tests &&
          mpirun -n 1 python3 test_model.py

      - name: run parallel check
        run: |
          cd ./tests &&
          mpirun -n 2 python3 test_model.py
